@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
   --main-color: #0d6efd;
   --btnBg-hover-color: rgb(185, 198, 224);
   --border-title-color: 0px 0px 2px rgb(230, 214, 214);
   --bg-color: black;

   --font-standard: 'Montserrat', sans-serif;
}

body{
   font-family: var(--font-standard);
   background: var(--bg-color);
   overflow-x: hidden;
}

.mainContainer{
   max-width: 415px;
   margin-top: 5vh;
}

   .mainTitle{
      text-shadow: var(--border-title-color);
      letter-spacing: -0.10rem;
      font-weight: 600;
   }

   form{
      margin: 0 auto;
   }

      .btnSearch{
         border: none;
         width: 100%;
         font-size: 18px;
         font-weight: 500;
         transition: 0.3s;
      }

      .btnSearch:hover{
         color: var(--main-color);
         font-weight: 600;
         background-color: var(--btnBg-hover-color);
      }
   
   .mainCard{
      margin: 0 auto;
   }

      .fontMsg{
         font-size: 1.3rem;
      }

      .temperatureContainer{
         display: inline-flex;
         justify-content: center;
         font-size: 3rem;
      }

footer p{
   max-width: 450px;
   border-top: 1px solid whitesmoke;
}

@media screen and (max-width: 480px){
   footer p{
      width: 93%;
   }
}

@media screen and (max-width: 215px){
   h2, h3{
      font-size: 1.2rem;
   }

   .temperatureContainer{
      font-size: 2rem;
   }
}
